**/.settings
**/.apt_src
.settings
.externalToolBuilders
**/_build
**/_deploy
**/build
**/bin
**/dist
**/reports
**/log
**/.pydevproject
**/.checkstyle
**/.project
.project
*.par

*.iml
*.idea
target
**/target
*.classpath
*.metadata

_target